body {background-image:url('MyPhoto/Kadel labs.png');
      background-repeat:no-repeat;
      background-position:right ;
      background-attachment:fixed;
      background-color:lightblue;

}
.p {
    text-indent: 50px;
    border:dotted;
    border-color:yellow;
    padding:50px;
    margin:80px;

    
}


.div1 {
  border: 5PX solid RED;
}
li{
    float: left;
}